doctype xml
doctype 1.1
html(xmlns='http://www.w3.org/1999/xhtml')
  head(profile='http://dublincore.org/documents/dcmi-terms/')
    meta(http-equiv='Content-Type' content='text/html;')
    title= title
    meta(name='DCTERMS.title' content=`${TITLE} - ${sectionTitle}`)
    meta(name='DCTERMS.language' content=LANGUAGE scheme='DCTERMS.RFC4646')
    meta(name='DCTERMS.source' content='MFW')
    meta(name='DCTERMS.issued' content='{$issued}' scheme='DCTERMS.W3CDTF')
    meta(name='DCTERMS.creator' content=AUTHOR)
    meta(name='DCTERMS.contributor' content='')
    meta(name='DCTERMS.modified' content='{$issued}' scheme='DCTERMS.W3CDTF')
    meta(name='DCTERMS.provenance' content='')
    meta(name='DCTERMS.subject' content=GENRE)
    link(rel='schema.DC' href='http://purl.org/dc/elements/1.1/' hreflang='en')
    link(rel='schema.DCTERMS' href='http://purl.org/dc/terms/' hreflang='en')
    link(rel='schema.DCTYPE' href='http://purl.org/dc/dcmitype/' hreflang='en')
    link(rel='schema.DCAM' href='http://purl.org/dc/dcam/' hreflang='en')
    link(rel='stylesheet' type='text/css' href='../css/ebook.css')
  body
    div(id=`s${sectionNumber}`)
    div!= content
